
@media (max-width: 1200px) {
 
.hero-content .action-btn .btn-hero {
    padding: 15px 30px;
}
.hero-content{
   padding-left: 60px;
}
.solution-content {
    padding-left: 70px;
}
.solution-apps .apps-list{
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
	max-width:250px;
}
.solution-apps .apps-list li {
    min-width: 50%;
    margin-right: 0;
    margin-bottom: 20px;
}
.pillar-content .productive-callto {
    padding: 30px 65px;
}







}
/** * ===========* TABLET * ============= * **/
@media (max-width: 992px) {

.navbar-collapse{
	position: absolute;
    left: 0;
    right: 0;
    top: 70px;
    z-index: 111;
    background: $white;
}
.header-navbar .navbar-nav li.dropdown>.dropdown-menu{
	display:none;
	visibility:visible;
	opacity:1;
	transform:none;
	box-shadow:none;
}
.header-navbar .navbar-nav li.dropdown>.dropdown-menu.show{
	display:block;
}
.header-navbar .navbar-nav li>ul.dropdown-menu .dropdown-corner{
	display:none;
}
.header-navbar .navbar-nav li>ul.dropdown-menu li a{
	width:100%;
}
.navbar-toggler{
	position:absolute;
	right:12px;
}
.header-navbar .btn-book{
	margin-right:60px;
}
.header-navbar .navbar-nav{
	padding-right:0;
}
.header-navbar .btn-book {
    padding: 12px 20px;
    font-size: 14px;
}
.hero-content .title {
    font-size: 40px;
}
.hero-content .action-btn .btn-hero {
    padding: 15px 30px;
}
.service-feature .list .text,
.service-feature .text{
	max-width:90%;
}
.service-wrapper {
    display: block;
}
.service-feature{
	width:100%;
}
.service-media{
	width:100%;
}
.service-block .shape{
	display:none;
}
.service-media img {
    left:0;
}
.solution-image {
    display:none;
}
.solution-v .solution-content,
.solution-content {
    width: 100%;
    padding-right: 60px;
    padding-left: 40px;
}
.blog-navbar .select-navbar{
	display:block;
}
 
.hwt-container{
	display:block;
}
.how-work-team-area .shape-img {
    width: 100%;
}
.hwt-container .hwt-right{
	padding-top:50px;
}
.hwt-reverse .shape-img {
    bottom: 0;
    top: auto;
}
.hwt-reverse {
    margin-top: 50px;
}
.pillar-content .banner-book-demo {
    padding: 40px;
	display: block;
}
.pillar-content .banner-book-demo .button{
	margin-top:15px;
	font-size:18px;
	padding: 15px 25px;
}
.pillar-content .productive-callto {
    padding: 30px 15px;
}
.signin-area{
	display:block;
}
.signin-right,
.signin-left{
	width:100%;
}
.signin-content {
    margin-top: 10%;
    padding-bottom: 10%;
}
.signin-right{
	padding-bottom:40px;
	padding-left:15px;
	padding-right:15px;
}
.sidebar-widget .wrapper {
    padding: 10px;
}








}
/** * ===========* MOBILE * ============= * **/
@media (max-width: 768px) {

.hero-content {
    width: 100%;
 
 
}
.hero-block{
	display:none;
}
.how-work-media{
	display:none;
}
.how-work-content {
    padding:40px;
}
.testimonial{
	padding-bottom:30px;
}
.feature-section-item .text {
    max-width: 90%;
}
.solution-v .solution-content, 
.solution-content {
    padding-left: 0px;
}
 
.navbar-search .search-input {
    min-width: 120px;
}
.page-title {
    padding: 150px 0 110px;
}
.side-feature-content {
    top: 0;
	width:100%;
	margin-bottom:30px;
}
.something-for-feature{
	margin-bottom:40px;
}
.feature-section-item {
    margin-bottom: 60px;
}
 
.pillar-menu {
    margin-right: 10px;
}
.most-popular-image{
	margin-bottom:30px;
}
.use-case-block{
	margin-bottom:30px;
}
.feature-content,
.enterprise-section-area 
.feature-image,
.privacy-image,
.privacy-content,
.ent-more-reasons-image,
.ent-more-reasons-list,
.ent-solution-block{
	margin:30px 0;
}
.analyze-productivity-item{
	margin-bottom:30px;
}
 
.call-us-content .title {
    font-size: 36px;
    line-height: 40px;
}
.single-wrapper {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 130px;
}
.entry-content .single-banner .title {
    padding-left:0;
	padding-right:30px;
	font-size:24px;
}
.entry-content .single-banner .btn-banner {
    height: 50px;
    padding: 14px 33px;
    font-size: 24px;
}
.entry-content .single-banner .single-banner-wrapper {
    padding-left: 25px;
}
.bim-project-content{
	margin-bottom:30px;
}
.side-media,
.side-info-wrapper,
.bim-team-content,
.bim-team-image{
	margin-bottom:30px;
}
.productivity-hero-image{
	display:none;
}
.productivity-hero-content .title {
    font-size: 24px;
    line-height: 30px;
}
.productive-hero-new .productivity-hero-content {
    padding-left: 60px;
}




}/** * ===========* MOBILE * ============= * **/
@media (max-width: 576px) {

.productivity-item{
	margin-bottom:30px;
}
.feature-block{
	margin-bottom:30px;
}
.call-us-logo{
	display:flex;
}
.call-us-logo .logo-image{
	padding:10px;
}
.call-us-logo .logo-image:last-child {
    margin-bottom: 40px;
}
.store-data {
    max-width: 100%;
	margin-bottom:30px;
}
.header-navbar .btn-book {
   display:none;
}
.became-partnership .center {
    border-right:0;
    border-left: 0;
}
.became-partnership .center .partnership-card{
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
.side-feature-before img {
    margin-top: -10px;
}
.pillar-menu{
	display:none;
}
.footer-intro{
	margin-bottom:30px;
}



}