//bootstrap variable
$primary: #F53838;
$secondary: #000000;
$success: #17cfcf;
$info: #00B0FF;

//theme variable


$boxshadow: 0 1px 5px 0 rgba(0, 0, 0, .05);
$boxshadow2: 1px 1px 15px 2px rgba(0, 0, 0, .08);


$borderradius: 4px;
$roundradius: 50%;


// TYPE
$bold: 700;
$semibold: 600;
$normal: 400;

// SPACING
$sp: 80px;
$spSmall: 100px;
$spLarge: 180px;

