<form action="https://formspree.io/mknqezny" method="POST"  class="signin-form">
  <div class="form-group">
    <label class="label">Your Name</label>
    <input class="controls-form" name="name" placeholder="Jhon Doe" type="text">
  </div>
  <div class="form-group">
    <label class="label">Email</label>
    <div class="input-form">
      <input class="controls-form" name="email" placeholder="themeix@gmail.com" type="email">
    </div>
  </div>
  <div class="form-group">
    <label class="label">Phone Number</label>
    <div class="input-form">
      <input class="controls-form" name="phone" placeholder="(123) 123 1234" type="text">
    </div>
  </div>
  <div class="form-group">
    <label class="label">Company Size</label>
    <div class="input-form">
      <select name="company-name" class="form-control">
        <option value="Make a Selection">Make a Selection</option>
        <option value="-20">-20</option>
        <option value="--300">--300</option>
        <option value="--1004">--1004</option>
        <option value="-105">-105</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="label">Message</label>
    <div class="input-form">
      <textarea class="controls-form" name="message" placeholder="How can we help you?" rows="6"></textarea>
    </div>
  </div>
  <button type="submit" class="signin-submit active">Send Message</button>
</form>