<form class="contact-form-1 bg-white" action="https://formspree.io/seakashdiu@gmail.com" method="POST">
  <div class="form-group">
    <label for="yournname">Your Name</label>
    <input type="text" class="form-control" name="YourName" id="yournname" placeholder="Jhon Doe">
  </div>
  <div class="form-group">
    <label for="service-id">Service ID</label>
    <input type="text" class="form-control" name="ServiceID" id="service-id" placeholder="{{page.service_id}}"
      value="{{page.service_id}}" disabled>
  </div>
  <div class="form-group">
    <label for="name">Your Website (optional)</label>
    <input type="text" name="Website" class="form-control" id="name" placeholder="www.themeix.com">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" name="Email" class="form-control" id="email" placeholder="themeix@gmail.com">
  </div>

  <div class="form-group">
    <label for="name">Phone Number</label>
    <input type="text" name="Phone" class="form-control" id="name" placeholder="(123) 123 1234">
  </div>
  <button type="submit" class="btn btn-primary">CHECK RANKING</button>
</form>