<div class="col-md-4">
  <div class="testimonial">
    <div class="testimonial-card">
      <div class="review-info">
        <p class="text">{{testimonial.review}} </p>
        <div class="review-corner"></div>
      </div>
    </div>
    <div class="review-author">
      <img class="image" src="{{testimonial.image}}" alt="{{testimonial.name}}" />
      <div class="author-info">
        <h6 class="name">{{testimonial.name}}</h6>
        <span class="label">{{testimonial.designation}}</span>
      </div>
    </div>
  </div>
</div>