 <!-- ==================== BIM PROJECT START ========================= -->
 <div class="service-copy-area bg-white bg-spacer">
   <div class="container">
     <div class="section-title text-center inner-spacer pt-0">
       <h2 class="title">Learn what we do</h2>
       <p class="text">No and every to and surely the reedy, was, no cache big has in delicacy easier fate the around
         sport. Generality one remodelling not play. Train understand were horrible what of that have every our does
         know the any origin well merit live of day an I blind mathematicians it.</p>
     </div>
     <div class="service-copy-wrapper">
       <div class="row d-flex align-items-center">
         <div class="col-md-6">
           <div class="bm-project-content">
             <div class="service-copy-block mt-0">
               <h3 class="title">Same due more during </h3>
               <p class="text">By integrating with your BIM tools, Workpuls maps time to the corresponding project
                 automatically. All the work done in AutoCAD, Revit, Vectorworks files will be tracked and assigned to
                 tasks - without any action on yours and your employees’ side.</p>
             </div>
             <div class="service-copy-block">
               <h3 class="title">Little she participate </h3>
               <p class="text">By integrating with your BIM tools, Workpuls maps time to the corresponding project
                 automatically. All the work done in AutoCAD, Revit, Vectorworks files will be tracked and assigned to
                 tasks - without any action on yours and your employees’ side.</p>
             </div>
             <div class="service-copy-block">
               <h3 class="title">Return shortcuts</h3>
               <p class="text">By integrating with your BIM tools, Workpuls maps time to the corresponding project
                 automatically. All the work done in AutoCAD, Revit, Vectorworks files will be tracked and assigned to
                 tasks - without any action on yours and your employees’ side.</p>
             </div>
             <div class="service-copy-block">
               <h3 class="title">We go beyond testing</h3>
               <p class="text">By integrating with your BIM tools, Workpuls maps time to the corresponding project
                 automatically. All the work done in AutoCAD, Revit, Vectorworks files will be tracked and assigned to
                 tasks - without any action on yours and your employees’ side.</p>
             </div>
           </div>
         </div>
         <div class="col-md-6">
           <img src="{{'/assets/images/bg-2.jpg' | relative_url}}" class="service-copy-image" data-aos="fade-left"
             alt="image" />
         </div>
       </div>
     </div>
   </div>
 </div>

 <div class="most-popular-area sec-spacer pt-0">
   <div class="container">
     <div class="most-popular-wrapper">
       <div class="row d-flex align-items-center">
         <div class="col-md-6">
           <div class="most-popular-content">
             <div class="most-popular-item">
               <img src="{{'/assets/images/icon-charts.png' | relative_url }}" alt="icon">
               <h3 class="title">Project Management</h3>
               <p class="text">Add new projects and tasks, assign them to employees, set deadlines and urgency levels in
                 an easy-to-use Kanban board within the dashboard.</p>
             </div>
             <div class="most-popular-item">
               <img src="{{'/assets/images/icon-share.png' | relative_url }}" alt="icon">
               <h3 class="title">Time on Projects and Tasks</h3>
               <p class="text">More than just app and website time tracking, Workpuls tracks time on projects and tasks.
                 Get a complete overview of project time to stay on-budget and profitable.</p>
             </div>
             <div class="most-popular-item">
               <img src="{{'/assets/images/icon-statistics-1.png' | relative_url }}" alt="icon">
               <h3 class="title">Apps and Website Usage</h3>
               <p class="text">Track which apps and websites your employees are using individually, as a team, or on a
                 company level.</p>
             </div>
           </div>
         </div>
         <div class="col-md-6">
           <div class="most-popular-content">
             <div class="most-popular-item">
               <img src="{{'/assets/images/icon-plus.png' | relative_url }}" alt="icon">
               <h3 class="title">Project Management</h3>
               <p class="text">Add new projects and tasks, assign them to employees, set deadlines and urgency levels in
                 an easy-to-use Kanban board within the dashboard.</p>
             </div>
             <div class="most-popular-item">
               <img src="{{'/assets/images/icon-pin.png' | relative_url }}" alt="icon">
               <h3 class="title">Time on Projects and Tasks</h3>
               <p class="text">More than just app and website time tracking, Workpuls tracks time on projects and tasks.
                 Get a complete overview of project time to stay on-budget and profitable.</p>
             </div>
             <div class="most-popular-item">
               <img src="{{'/assets/images/icon-phone.png' | relative_url }}" alt="icon">
               <h3 class="title">Apps and Website Usage</h3>
               <p class="text">Track which apps and websites your employees are using individually, as a team, or on a
                 company level.</p>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>