<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name='description'
    content='{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}'>
  <meta name="keywords" content="{% if page.keywords %}{{ page.keywords}}{% else %}{{ site.keywords }}{% endif %}">
  <!-- Facebook Open Graph -->
  <meta content="{{ site.title }}" property="og:site_name">
  <meta property="og:locale" content="en_US" />
  {% if page.title %}
  <meta content="{{ page.title }}" property="og:title">{% else %}
  <meta content="{{ site.title }}" property="og:title">{% endif %}
  {% if page.title %}
  <meta content="article" property="og:type">{% else %}
  <meta content="website" property="og:type">{% endif %}
  {% if page.description %}
  <meta content="{{ page.description }}" property="og:description">{% else %}
  <meta content="{{ site.description }}" property="og:description">{% endif %}
  {% if page.url %}
  <meta content="{{ site.url }}{{ page.url }}" property="og:url">{% endif %}
  {% if page.post_image %}
  <meta content="{{ page.post_image }}" property="og:image">{% else %}
  <meta content="{{ site.cover_image }}" property="og:image">{% endif %}
  {% if page.tag %}{% for tag in page.tag %}
  <meta content="{{ tag }}" property="article:tag">{% endfor %}{% endif %}
  {% if page.categories %}{% for category in page.categories limit:1 %}
  <meta content="{{ category }}" property="article:section">{% endfor %}{% endif %}
  {% if page.date %}
  <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">{% endif %}
  <!-- Twitter cards -->
  <meta name="twitter:site" content="@{{ site.twitter_username }}">
  <meta name="twitter:creator" content="@{{ page.twitter_username }}">
  {% if page.title %}
  <meta name="twitter:title" content="{{ page.title }}">{% else %}
  <meta name="twitter:title" content="{{ site.title }}">{% endif %}
  {% if page.description %}
  <meta name="twitter:description" content="{{ page.description }}">{% else %}
  <meta name="twitter:description" content="{{ site.description }}">{% endif %}
  {% if page.twitter_image %}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="{{ site.url }}{{ page.twitter_image }}">{% else %}
  <meta name="twitter:card" content="summary">
  <meta name="twitter:image" content="{{ site.cover_image }}">{% endif %}
  <meta name="google-adsense-account" content="ca-pub-8140867192717074">

  <!-- Site Title -->
  <title>{% if page.title %} {{page.title}} {% else %} {{site.title}} {% endif %}</title>
  <link rel="icon" href="{{'/assets/images/logo.svg' | relative_url}}">
  
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap" rel="stylesheet">
  
  <!-- gulp:css -->
  <link rel="stylesheet" href="{{'/assets/css/app.min.css' | relative_url}}">
  <!-- endgulp -->

  {% if jekyll.environment == 'production' and site.google_analytics_key != '' %}
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics_key }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ site.google_analytics_key }}');
  </script>
  {% endif %}
</head>

<body>
  <!-- ==================== HEADER START ========================= -->
  <div class="preloader">
    <div class="wrapper">
      <div class="loader">Loading...</div>
    </div>
  </div>


  {% include header.html %}

  {{content}}
  {% include footer.html %}

  <div class="top-scollbar">
    <svg focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
      <path d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"></path>
    </svg>
  </div>
  <!-- ==================== FOOTER END ========================= -->

  <!-- gulp:js -->
  <script src="{{'/assets/js/build.min.js' | relative_url}}"></script>
  <!-- endgulp -->
  {% if page.url == "/gallery" %}
  <script>
    gridGallery({
      selector: ".dark",
      darkMode: true
    });
    gridGallery({
      selector: "#horizontal",
      layout: "horizontal"
    });
    gridGallery({
      selector: "#square",
      layout: "square"
    });
    gridGallery({
      selector: "#gap",
      gaplength: 10
    });
    gridGallery({
      selector: "#heightWidth",
      rowHeight: 180,
      columnWidth: 280
    });
  </script>
  {% endif %}
</body>

</html>
