---
layout: default
---

{% include service-title.html %}
<div class="became-partner-area">
  <div class="became-partner bg-2">
    <div class="container">
      <div class="row sec-spacer mt-0 d-flex align-items-center">
        <div class="col-md-8">
          <div class="became-partner-content">
            {{page.content}}
          </div>
        </div>
        <div class="col-md-4">
          <div class="became-partner-form">
            {% include service-form.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include what-we-do.html %}